.chart-wrapper {
	height: 30vh;
	width: 100%;
	visibility: visible;
    &.hidden {
        height: 0;
        visibility: hidden;
    }
}

// Do not animate chart height after initial reveal
.chart-not-initialized {
	transition: height 500ms;
}