html, body {
	height: 100%;
}

body, input {
	font-family: 'Roboto', sans-serif;
}

body {
    font-size: 2vw;
    background: #fbfbfb;
}

* {
	box-sizing: border-box;
}

#inputty {
	width: 100%;
	border: 1px solid #ccc;
    font-size: 1em;
    padding: 0.6em 4em 0.6em 0.8em;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 200ms, border-color 200ms, margin-top 200ms;
	&:focus {
	    border-color: #808080;
	    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
	    outline: none;
	}
}

#chart {
	height: 0;
	width: 100%;
}

// Do not animate chart height after initial reveal
.not-initialized {
	transition: height 1000ms;
}

.wrapper {
	width: 60%;
	margin: 0 20%;
}

$placeholder-color: #ccc;

::-webkit-input-placeholder {
    color: $placeholder-color;
}
:-moz-placeholder {
   color: $placeholder-color;
   opacity: 1;
}
::-moz-placeholder {
   color: $placeholder-color;
   opacity: 1;
}
:-ms-input-placeholder {
   color: $placeholder-color;
}

.align-vertically {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.input-wrapper {
	position: relative;
	// The height attribute is added to the canvas
	// once the chart is being drawn so we might as
	// well use that instead of adding a very specific
	// class simply for applying some margin.
	#chart[height] ~ & {
		margin-top: 2em;
	}
	.loader {
		right: 2em;
	}
	&.loading .loader {
		opacity: 1;
	}
}

// Inspired by loader (https://github.com/jovey-zheng/loader)
$loader-animation-name: basic-fade;
$loader-color: #808080;

.loader {
    $size: 0.4em;
    $animation-duration: 250ms;
    $animation-base: $animation-duration * 3 $loader-animation-name infinite cubic-bezier(0.78, 0.14, 0.15, 0.86);
    position: absolute;
    @include animation($animation-base $animation-duration / 2);
    transition: opacity $animation-duration / 2;
    opacity: 0;
    top: 50%;
    margin-top: -$size / 2;
    &,
    &::before,
    &::after { 
        width: $size;
        height: $size;
        border-radius: 100%;
    }
    &::before,
    &::after {
        position: absolute;
        content: '';
        @include animation($animation-base);
    }
    &::before {
        right: -$size * 2;
        @include animation-delay($animation-duration);
    }
    &::after {
        left: -$size * 2;
    }
}

@include keyframes($loader-animation-name){
    #{0%} { background-color: rgba($loader-color, 1); }
    #{100%} { background-color: rgba($loader-color, 0); }
}