html,
body {
	height: 100%;
}

body,
input {
	font-family: 'Roboto', sans-serif;
}

body {
  font-size: 2vw;
  background: #fbfbfb;
}

*,
::before,
::after {
	box-sizing: border-box;
}

* {
	-webkit-font-smoothing: subpixel-antialiased !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

.align-vertically {
  display: flex;
  align-items: center;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.1em solid currentColor;
  &:hover {
    color: #4f9cd0;
  }
}