$dot-size: 0.4em;
$animation-name: pulse;

.loading-wrapper {
    opacity: 0;
    display: inline-flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    margin-top: -($dot-size / 2);
    width: $dot-size * 5;
    height: $dot-size;
    transition: opacity 850ms ease-in-out;
}

.loading-active {
    opacity: 1;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.loading-dot {
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background: #ccc;
    animation: $animation-name 850ms infinite ease-in-out;
    &:nth-child(1) {
        animation-delay: -200ms;
    }
    &:nth-child(2) {
        animation-delay: -100ms;
    }
}

@keyframes #{$animation-name} {
    0%, 100%, 80% {
        opacity: 0;
        transform: scale(0.8);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
}