.input-wrapper {
	position: relative;
	margin-top: 2em;
	input {
		width: 100%;
		font-size: 1em;
		padding-right: 3.5em;
		&:focus {
		    border-color: #808080;
		    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
		    outline: none;
		}
	}
	.loading-wrapper {
		right: 1em;
	}
}

input {
	border: 1px solid #ccc;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	transition: box-shadow 200ms, border-color 200ms, margin-top 200ms;
	padding: 0.6em 0.8em;
}